{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block body_block %}

    <h1>Rango says...</h1>
    <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
        <p>Visits: {{ request.COOKIES.visits }}</p>
    </div>
    <div>
        <h1>Most Liked Categories:</h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <!-- Following line changed to add an HTML hyperlink -->
                    <li>
                        <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <div>
        <h1>Most Viewed Webpages:</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
    </div>
{% endblock %}
